@model Weeklys.Models.TaxesDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaxesDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaxesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Federal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Federal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaxesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
